*{
	box-sizing: border-box;
}

nav{
	background-color: rgb(216, 76, 76);
	color: #fff;
	width: 100%;
	height: 50px;
	font-size: 2em;
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}

#cards{
display: flex;
flex-wrap: wrap;
justify-content: space-around;
align-items: center;
padding: 50px 15% 50px 15%;
}

#card__header{
	background-color: rgba(15, 101, 230, 0.703);
	color: white;
	height: 30%;
}

#card__info{
margin: 35px 20px 0 20px;
border: 1px solid ;
}

.card{
	margin-bottom: 25px;
}